resource_group_name      = "oba-resources"
location                 = "East US"
container_group_name     = "oba_container_group"
container_name           = "onebusaway-api-server"
container_image          = "ghcr.io/onebusaway/onebusaway-api-webapp:latest"
container_cpu            = 2
container_memory         = 4
storage_account_name     = "obaacistorageaccount"
storage_share_name       = "bundle"
storage_share_quota      = 1

env_var_tz                     = "America/Toronto"
env_var_gtfs_url               = "https://api.cityofkingston.ca/gtfs/gtfs.zip"
env_var_vehicle_positions_url  = "https://api.cityofkingston.ca/gtfs-realtime/vehicleupdates.pb"
env_var_trip_updates_url       = "https://api.cityofkingston.ca/gtfs-realtime/tripupdates.pb"
env_var_alerts_url             = "https://api.cityofkingston.ca/gtfs-realtime/alerts.pb"
env_var_feed_api_key           = ""
env_var_feed_api_value         = ""
env_var_refresh_interval       = "30"
env_var_agency_id              = "0"
env_var_jdbc_user              = "oba_user"
env_var_jdbc_password          = "oba_password"
env_var_jdbc_url               = "jdbc:mysql://<DATABASE_HOST>:<PORT>/oba_database"
env_var_google_maps_api_key    = ""
env_var_google_maps_channel_id = ""
env_var_google_maps_client_id  = ""
