digitalocean_token = ""
region             = "nyc3"
instance_size_slug = "basic-xxs"
num_instances      = 1

env_var_tz                    = "America/Toronto"
env_var_gtfs_url              = "https://api.cityofkingston.ca/gtfs/gtfs.zip"
env_var_vehicle_positions_url = "https://api.cityofkingston.ca/gtfs-realtime/vehicleupdates.pb"
env_var_trip_updates_url      = "https://api.cityofkingston.ca/gtfs-realtime/tripupdates.pb"
env_var_alerts_url            = "https://api.cityofkingston.ca/gtfs-realtime/alerts.pb"
env_var_feed_api_key          = ""
env_var_feed_api_value        = ""
env_var_refresh_interval      = 30
env_var_agency_id             = "0"
env_var_jdbc_user             = "oba_user"
env_var_jdbc_password         = "oba_password"
env_var_jdbc_url              = "jdbc:mysql://<DATABASE_HOST>:<PORT>/oba_database"
env_var_port                  = 8080
